body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.chat-container {
  max-width: 500px;
  margin: 30px auto;
  background: #020617;
  border-radius: 10px;
  padding: 15px;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

h2 {
  text-align: center;
}

#chat-box {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
}

.message {
  padding: 8px 12px;
  margin: 5px 0;
  border-radius: 8px;
  max-width: 80%;
}

.user {
  background: #2563eb;
  align-self: flex-end;
}

.bot {
  background: #334155;
  align-self: flex-start;
}

.input-area {
  display: flex;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
}

button {
  padding: 10px;
  border: none;
  background: #22c55e;
  font-weight: bold;
}
